body{
	text-align: center;
	background-image:url(../_imagens/peixeswp.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}
p{
	font-family: colonna MT;
	color: fuchsia;
	font-size: 18px;	
}
#peixesp1{
	border: solid;
	border-color: rebeccapurple;
	width: 500px;
	height: 520px;
	float: left;
}
#peixesp2{
	border: solid;
	border-color: rebeccapurple;
	width: 500px;
	height: 520px;
	float: right;
}
h2{
	border: groove;
	border-color: lightpink;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
a{
	text-decoration: underline;
	color:deeppink;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	
}
h1{
	border: double;
	border-color: hotpink;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: aliceblue;
}
p-1{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	color:palevioletred;	
}