body{
	text-align: center;
	background-image: url(../_imagens/sagitwp.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}
p{
	font-family: colonna MT;
	color: skyblue;
	font-size: 18px;	
}
#sagip1{
	border: solid;
	border-color: orange;
	width: 500px;
	height: 500px;
	float: left;
}
#sagip2{
	border: solid;
	border-color: orange;
	width: 500px;
	height: 500px;
	float: right;
}
h2{
	border: groove;
	border-color: darkorange;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
a{
	text-decoration: underline;
	color:saddlebrown;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	
}
h1{
	border: double;
	border-color: darkgoldenrod;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: aliceblue;
}
p-1{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	color:yellow;	
}
