body{
	text-align: center;
	background-image:url(../_imagens/comida.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}
p{
	font-family: colonna MT;
	color:cadetblue;
	font-size: 18px;	
}
#tourop1{
	border: solid;
	border-color:blue;
	width: 500px;
	height: 520px;
	float: left;
}
#tourop2{
	border: solid;
	border-color: blue;
	width: 500px;
	height: 520px;
	float: right;
}
h2{
	border: groove;
	border-color: darkblue;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
a{
	text-decoration: underline;
	color:cyan;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	
}
h1{
	border: double;
	border-color: darkturquoise;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: aliceblue;
}
p-1{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	color:paleturquoise;	
}
