body{
	background-image: url(../_imagens/virgemwp.jpg);
	text-align: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}
p{
	font-family: colonna MT;
	color: indianred;
	font-size: 18px;	
}
#virgemp1{
	border: solid;
	border-color:red;
	width: 500px;
	height: 500px;
	float: left;
}
#virgemp2{
	border: solid;
	border-color: red;
	width: 500px;
	height: 500px;
	float: right;
}
h2{
	border: groove;
	border-color: darkred;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
a{
	text-decoration: underline;
	color:hotpink;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	
}
h1{
	border: double;
	border-color: deeppink;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: pink;
}
p-1{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	color:palevioletred;	
}
